# Bỏ qua môi trường ảo
venv/
.venv/
__pycache__/

# Bỏ qua file bí mật (QUAN TRỌNG)
.env

# Bỏ qua các file model nặng (Nếu bạn muốn đẩy lên GitHub nhanh hơn)
# backend/models/*.keras
# backend/models/*.json
# backend/models/*.pickle

# Bỏ qua các file tạm của VS Code
.vscode/